.Header{
  background: yellow;
}

.site-title-container{
  height: 100%;
  position: relative;
}

.site-title{
  background: white;
  font-size: 50px;
  display:inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform : translate(-50%,-50%);
}
